.JoinPage{
    /* background-color: rgb(0,0,0); */
    width: 100vw;
    height: 100vh;
    /* border:2px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.JoinContainer{
    /* border:2px solid rgb(236, 223, 223); */
    height: 50%;
    width: 50%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.JoinContainer > img{
    width:10vmax
}
.JoinContainer>h1{
    color:rgb(0,0,0);
    font-size: 2.5vmax;
    font-family: cursive;
    width:25vmax ;
    text-align: center;
}
#joinInput{
 margin : 15px 0px;
width: 25vmax;
padding: 1vmax;
border: 1px solid black;
border-radius: 20px;
outline: none;
box-sizing: border-box;
text-align: center;
font-family: cursive;
}
.joinBtn{
    width: 25vmax;
    padding: 1vmax;
    border: none;
    color:rgb(255, 255, 255);
    font-size: 1.2vmax;
    outline: none;
    background-color: crimson;
    box-sizing:border-box;
    transition: all 0.3s ;
    cursor: pointer;
    border-radius: 20px;
    font-family: cursive;
    }

.joinBtn:hover{
    background-color: transparent;
    border:1px solid crimson;
    color: crimson;
    border-radius: 20px;
}